
  

    <!--new form-->
<div class="col-lg-6 get_in_touch_col">
        <div class="get_in_touch_contents">
          <h1>Upload Coupon</h1>
    <div>
              <input type="text" #product class="form_input input_name input_ph" placeholder="product name" name ="product">
              <input type="text" #store class="form_input input_name input_ph" placeholder="Store name" name ="store">
              <input type="date" #exp_date class="form_input input_name input_ph" placeholder="Valid to" name ="exp_date">
              <input type="number" #discount class="form_input input_name input_ph" placeholder="discount" name ="discount">
              <input type="varchar" #code class="form_input input_name input_ph" placeholder="code" name ="code">
            </div>
            <div>
              <button class="red_button message_submit_btn trans_300" (click)="postCoupon(product.value, store.value, exp_date.value, discount.value,
   code.value);">Upload</button>
            </div>
    <!--new form end-->
    
   <!--
   <input type="submit" class="btn btn-primary" Value="Upload"/>
   -->


  
    
  <script src="/script.js"></script>
 
