<div class="container">
  <div class="row" *ngFor="let coupon of coupons">
    <!--div class="card card-block">
        <h4 class="card-title">{{ coupon.store }}</h4>
        <p class="card-text">{{ coupon.product }}</p>
  <a href="#" class="card-link">Coupon link</a>
    </div-->

    <!--div class="col-lg-4 col-md-6 mb-4"-->
       <div class="card h-10">
         <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
         <div class="card-body">
            <h4 class="card-title">
            <a href="#">{{ coupon.product }}</a>
            </h4>
            <h4 class="card-title">
            <a href="#">{{ coupon.store }}</a>
            </h4>
            <h4 class="card-title">
            <a href="#">Tokens: {{ coupon.token_cost }}</a>
            </h4>
            <h4 class="card-title">
            <a href="#">Trader: {{ coupon.userID }}</a>
            </h4>
            <button type="button" onclick="[{path: 'coupon/:id', component: CouponComponent}]">Details</button>
          </div>
          <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
          </div>
       </div>
    <!--/div-->
  </div>
</div>
